body{
  background: url(../img/snowphoto.jpeg);
  background-repeat:no-repeat;
  background-position: center;
  background-size:cover;
}
.social{
  margin-top: 10px;
  list-style-type: none;
  overflow: hidden;
}
.social li {
  float:left;
  margin-right: 10px;
}
